@using MyEvernote.Entities
@model EvernoteUser

@{
    ViewBag.Title = "Profiliniz";
}


<div class="container">

    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-2">
            <img src="~/images/@Model.ProfileImageFilename" class="img-circle" width="128" height="128" />
        </div>

        <div class="col-md-10">
            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h5><b>@Html.DisplayNameFor(model => model.Username) : </b>@Model.Username</h5>
            <h5><b>@Html.DisplayNameFor(model => model.Email) : </b>@Model.Email</h5>
            <br />
            <h5><a href="#">More... </a></h5>
        </div>

    </div>
</div>